// TODO: change values to sass vars
.panel {
  background-color: $white;
  border: $panel-border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  color: $inky-blue;
  margin-bottom: 3rem;
  max-width: 100%;
  padding: $padding-md;

  @include respond-to(tablet) {
    padding: $padding-lg;
  }

  &.info {
    background-color: $motion-blue;
  }
  &.grid {
    padding: 0;
    @media only screen and (max-width: 833px) {
      border-radius: 2rem 2rem 0 0;
      margin-bottom: 0;
    }
  }
  h2 {
    font-family: $font-family-normal;
    font-size: $font-size-xl;
    font-weight: 500;
    margin-top: 0;
  }
  &-footer {
    margin: 0;
    &--link {
      display: flex;
      img {
        margin-right: 1rem;
      }
      a {
        color: $inky-blue;
        font-family: $font-family-normal;
      }
    }
  }
}
