//- TODO: use switch to pass color?
// Base panel - white background
// Roles would have to be added dynamically based on location of component in layout
.panel(role="complementary")
    block content