
<div id="secondary-state-modal">
  <div class="modal-pattern" id="secondary-state-modal-0" aria-hidden="true" data-analytics-location="modal-secondary-state-modal">
    <div class="modal-container">
      <div class="modal-inner modal-icons-enabled" aria-label="Secondary-state" role="dialog" tabindex="-1">
        <button class="-close--small" aria-label="Close" data-analytics-click="Close [X] Modal" data-analytics-type="button" data-dismiss="x-close"><img src="assets/images/icon-close.svg" alt=""/>Close</button>
        <div class="modal-header">
          <p class="modal-title">Connect with a doctor</p>
        </div>
        <div class="modal-content">
          <div class="modal-content-body">
            <div class="content">
              <div class="rows">
                <div class="columns-4">
                  <div class="content__title">
                    <h3 class="-title">E-visit</h3><img class="secondary-state-modal-img" src="assets/images/icon-speed.svg" alt=""/>
                    <p>Fastest</p>
                  </div>
                  <p>Get online care and prescriptions from a doctor, usually within an hour.</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">Schedule an e-visit</a>
                  <div class="horizontal-rule">
                    <hr class="-variation-3"/>
                  </div>
                </div>
                <div class="columns-4">
                  <div class="content__title">
                    <h3 class="-title">Phone or video appt</h3>
                  </div>
                  <p>Schedule a face-to-face visit with a clinician by video for the same high-quality care as an in-person visit</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">Schedule a video visit</a>
                  <div class="horizontal-rule">
                    <hr class="-variation-3"/>
                  </div>
                </div>
                <div class="columns-4">
                  <div class="content__title">
                    <h3 class="-title">E-mail</h3>
                  </div>
                  <p>Message your clinician’s office with nonurgent questions anytime.</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">E-mail your doctor now</a>
                  <div class="horizontal-rule">
                    <hr class="-variation-3"/>
                  </div>
                </div>
                <div class="columns-4">
                  <div class="content__title">
                    <h3 class="-title">Title</h3>
                  </div>
                  <ul>
                    <li>Problems with a bladder infection</li>
                    <li>Urinary incontinance</li>
                    <li>Vaginal Yeast Infections</li>
                  </ul><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">Schedule a video visit</a>
                  <div class="horizontal-rule">
                    <hr class="-variation-3"/>
                  </div>
                </div>
                <div class="columns-4">
                  <div class="content__title">
                    <h3 class="-title">Title</h3>
                  </div>
                  <p>Message your clinician’s office with nonurgent questions anytime.</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">E-mail your doctor now</a>
                  <div class="horizontal-rule">
                    <hr class="-variation-3"/>
                  </div>
                </div>
                <div class="columns-4">
                  <div class="content__title">
                    <h3 class="-title">Title</h3>
                  </div>
                  <p>Schedule a face-to-face visit with a clinician by video for the same high-quality care as an in-person visit</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">Schedule a video visit</a>
                  <div class="horizontal-rule">
                    <hr class="-variation-3"/>
                  </div>
                </div>
              </div>
              <div class="content__divider"></div>
              <div class="content__footer">
                <p>Do not attempt to access emergency care through this website.<br/>If you are having a medical health emergency, call 911 or go to the nearest emergency room.  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-fade-screen"></div>
    </div>
  </div>
  <div class="modal-pattern" id="secondary-state-modal-1" aria-hidden="true" data-analytics-location="modal-secondary-state-modal">
    <div class="modal-container">
      <div class="modal-inner modal-icons-enabled" aria-label="Secondary-state" role="dialog" tabindex="-1">
        <button class="-close--small" aria-label="Close" data-analytics-click="Close [X] Modal" data-analytics-type="button" data-dismiss="x-close"><img src="assets/images/icon-close.svg" alt=""/>Close</button>
        <div class="modal-header">
          <p class="modal-title">Call for Care</p>
        </div>
        <div class="modal-content">
          <div class="modal-content-body">
            <div class="content">
              <div class="rows">
                <div class="columns-6">
                  <div class="content__title">
                    <h3 class="-title">E-visit</h3><img class="secondary-state-modal-img" src="assets/images/icon-speed.svg" alt=""/>
                    <p>Fastest</p>
                  </div>
                  <p>Get online care and prescriptions from a doctor, usually within an hour.</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">Schedule an e-visit</a>
                  <div class="horizontal-rule">
                    <hr class="-variation-3"/>
                  </div>
                </div>
                <div class="columns-6">
                  <div class="content__title">
                    <h3 class="-title">Phone or video appt</h3>
                  </div>
                  <p>Schedule a face-to-face visit with a clinician by video for the same high-quality care as an in-person visit</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">Schedule a video visit</a>
                  <div class="horizontal-rule">
                    <hr class="-variation-3"/>
                  </div>
                </div>
                <div class="columns-6">
                  <div class="content__title">
                    <h3 class="-title">E-mail</h3>
                  </div>
                  <p>Message your clinician’s office with nonurgent questions anytime.</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">E-mail your doctor now</a>
                  <div class="horizontal-rule">
                    <hr class="-variation-3"/>
                  </div>
                </div>
                <div class="columns-6">
                  <div class="content__title">
                    <h3 class="-title">Title</h3>
                  </div>
                  <p>Schedule a face-to-face visit with a clinician by video for the same high-quality care as an in-person visit</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">Schedule a video visit</a>
                  <div class="horizontal-rule">
                    <hr class="-variation-3"/>
                  </div>
                </div>
              </div>
              <div class="content__divider"></div>
              <div class="content__footer">
                <p>Do not attempt to access emergency care through this website.<br/>If you are having a medical health emergency, call 911 or go to the nearest emergency room.  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-fade-screen"></div>
    </div>
  </div>
  <div class="modal-pattern" id="secondary-state-modal-2" aria-hidden="true" data-analytics-location="modal-secondary-state-modal">
    <div class="modal-container">
      <div class="modal-inner modal-icons-enabled" aria-label="Secondary-state" role="dialog" tabindex="-1">
        <button class="-close--small" aria-label="Close" data-analytics-click="Close [X] Modal" data-analytics-type="button" data-dismiss="x-close"><img src="assets/images/icon-close.svg" alt=""/>Close</button>
        <div class="modal-header">
          <p class="modal-title">In-Person Care</p>
        </div>
        <div class="modal-content">
          <div class="modal-content-body">
            <div class="content">
              <div class="rows">
                <div class="columns-6">
                  <div class="content__title">
                    <h3 class="-title">E-visit</h3><img class="secondary-state-modal-img" src="assets/images/icon-speed.svg" alt=""/>
                    <p>Fastest</p>
                  </div>
                  <p>Get online care and prescriptions from a doctor, usually within an hour.</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">Schedule an e-visit</a>
                  <div class="horizontal-rule">
                    <hr class="-variation-3"/>
                  </div>
                </div>
              </div>
              <div class="content__divider"></div>
              <div class="content__footer">
                <p>Do not attempt to access emergency care through this website.<br/>If you are having a medical health emergency, call 911 or go to the nearest emergency room.  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-fade-screen"></div>
    </div>
  </div>
</div>