
<div class="modal-pattern" id="benefits-modal" aria-hidden="true" data-analytics-location="modal-benefits-modal">
  <div class="modal-container">
    <div class="modal-inner modal-icons-enabled" aria-label="Benefits" role="dialog" tabindex="-1">
      <button class="-close--small" aria-label="Close" data-analytics-click="Close [X] Modal" data-analytics-type="button" data-dismiss="x-close"><img src="/assets/images/icon-close.svg" alt=""/>Close</button>
      <div class="modal-header">
        <p class="modal-title">Benefits</p>
      </div>
      <div class="modal-content">
        <div class="modal-content-body">
          <p>Everything you need to know about your Kaiser Permanente member benefits.</p>
          <div class="content-body-container">
            <div class="content">
              <h3>Your plan and ID number</h3>
              <p>Find your ID number and plan type.</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="https://healthy.kaiserpermanente.org/colorado/front-door">View profile & preferences</a>
            </div>
            <div class="content">
              <h3>Your coverage details</h3>
              <p>View progress toward your deductible, out of pocket maximum, and other plan details.</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="https://healthy.kaiserpermanente.org/colorado/front-door">View coverage & costs</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-fade-screen"></div>
  </div>
</div>
<div class="rows">
  <div class="columns-3">
    <button class="button modal-button benefits-modal-button" data-modal-trigger="benefits-modal">Benefits</button>
  </div>
</div>