.primary-card-content {
  display: none;
  flex: 0 0 100%;
  margin-left: -1rem;
  margin-right: -1rem;
  @include respond-to(tablet) {
    margin-left: 3.5rem;
    margin-right: -3.5rem; // 1.75rem * 2
  }
  @include respond-to(desktop) {
    margin-left: $desktop-space-size-2;
    margin-right: $desktop-space-size-2-minus; // (50vw - 640px + 2rem) * 2
  }
  @include respond-to(mobile) {
    animation: backgroundColorAnimation 800ms both;
    height: 100%;
    overflow-y: scroll; /* Enable scroll if needed */
    position: fixed; /* Stay in place */
    top: 0;
    width: 100vw; /* Full width */
    z-index: 1; /* Sit on top */
    &-modal {
      animation: animateTop 800ms both;
      margin: auto;
      padding: 0;
      position: relative;
      &-out {
        animation-duration: 0.4s;
        animation-name: animateBottom;
      }
    }
    &--animation-out {
      animation: backgroundColorAnimationOut 800ms both;
    }
  }
  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .-header {
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    @include respond-to(tablet) {
      margin-bottom: 1.25rem;
      margin-top: 1.25rem;
    }
    @include respond-to(desktop) {
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    }
  }
  .-close--small {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  &__title {
    align-items: center;
    display: flex;
    h4 {
      color: $midnight;
      font-family: $font-family-heavy;
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 32px;
      margin-bottom: 0;
      margin-right: 0.5rem;
      margin-top: 0;
      @include respond-to(tablet) {
        font-size: 1.25rem;
        margin-right: 0.625rem;
      }
      @include respond-to(desktop) {
        font-size: 1.625rem;
        margin-right: 1rem;
      }
    }
    span {
      color: $contrast-blue;
      font-family: $font-family-heavy;
      font-size: 15px;
      font-style: italic;
      font-weight: 500;
      margin: 0 0 0 6px;
    }
  }
  p {
    font-family: $font-family-light;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    @include respond-to(tablet) {
      margin-bottom: 1.25rem;
      margin-top: 1.25rem;
    }
    @include respond-to(desktop) {
      font-size: $font-size-md;
      line-height: 1.5rem;
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    }
  }
  ul {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: 1.25rem;
    @include respond-to(tablet) {
      margin-bottom: 1.25rem;
      margin-top: 1.25rem;
    }
    @include respond-to(desktop) {
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    }
    li {
      font-family: $font-family-light;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.25rem;
      @include respond-to(desktop) {
        font-size: $font-size-md;
        line-height: 1.5rem;
      }
    }
  }
  .button {
    border: 1px solid $contrast-blue;
    font-size: $font-size-xs;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    padding: 2px 1rem;
    @include respond-to(tablet) {
      margin-bottom: 1.875rem;
    }
    @include respond-to(desktop) {
      font-size: $font-size-md;
      line-height: 3rem;
      margin-bottom: 2.25rem;
    }
  }
  &__divider {
    border: 2px solid rgba(0, 0, 0, 0.08);
    flex: 0 0 100%;
    height: 0;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    @include respond-to(tablet) {
      margin-bottom: 0.625rem;
      margin-top: 0.625rem;
    }
    @include respond-to(desktop) {
      margin-bottom: 0.75rem;
      margin-top: 0.75rem;
    }
    &-mobile {
      display: block;
      @include respond-to(tablet) {
        display: none;
      }
    }
    &-tablet {
      display: none;
      @include respond-to(tablet) {
        display: block;
      }
    }
  }
  &__footer {
    margin-bottom: 1rem;
    margin-top: 1rem;
    @include respond-to(tablet) {
      margin-bottom: 1.25rem;
      margin-top: 1.25rem;
    }
    @include respond-to(desktop) {
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    }
    p {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

.primary-card-content img {
  height: 1.5rem;
  width: 1.5rem;
}

@include respond-to(mobile) {
  .primary-card-content .columns-4,
  .primary-card-content .columns-6 {
    grid-column: span 12 !important;
  }
}

@keyframes backgroundColorAnimation {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.9);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@keyframes backgroundColorAnimationOut {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.9);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@keyframes animateTop {
  0% {
    opacity: 0;
    top: 100vw;
  }
  70% {
    opacity: 0;
    top: 100vw;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes animateBottom {
  from {
    opacity: 1;
    top: 0;
  }
  to {
    opacity: 0;
    top: 100vw;
  }
}

.display-none {
  animation: displayNone 1ms both;
  display: block;
  overflow: hidden;
}

@keyframes displayNone {
  0% {
    height: inherit;
    width: inherit;
  }
  100% {
    height: 0;
    width: 0;
  }
}
