.welcome-modal {
  animation: showWelcomeModal 0.5s both;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  padding-top: 100px;
  position: fixed;
  right: 0;
  top: 0;
  visibility: visible;
  z-index: 999;
  &-panel {
    background-color: $white;
    border: $modal-border;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    box-sizing: border-box;
    color: $inky-blue;
    max-height: 595px;
    overflow: hidden;
    width: 343px;
    @include respond-to(tablet) {
      max-height: 650px;
      width: 520px;
    }
    @include respond-to(desktop) {
      max-height: 894px;
      width: 692px;
    }
  }
  &__header {
    background-color: $pebble;
    border-bottom: $modal-border;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    padding-left: 1.5rem;
    h4 {
      align-items: center;
      display: flex;
      font-weight: 500;
      margin: 0;
    }
    .close {
      align-items: center;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;
      width: 4rem;
    }
    span {
      color: $contrast-blue;
      font-size: $font-size-xs;
      font-weight: 500;
      line-height: 1.25rem;
      margin-top: 0.25rem;
    }
  }
  &__content {
    margin: 1rem 0;
    max-height: 375px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 1rem;
    .feature-img {
      border: $panel-border;
      border-radius: 14px;
      display: block;
      margin-bottom: 1rem;
      width: 311px;
    }
    h3 {
      color: $midnight;
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.75rem;
      margin: 0 0 10px;
    }
    h5 {
      font-size: $font-size-xs;
      font-weight: 500;
      line-height: 1.25rem;
      margin: 0;
    }
    @include respond-to(tablet) {
      margin: 1.25rem 0;
      max-height: 410px;
      padding: 0 1.25rem;
      .feature-img {
        margin-bottom: 1.25rem;
        width: 480px;
      }
    }
    @include respond-to(desktop) {
      margin: 1.5rem 0;
      max-height: 618px;
      padding: 0 1.5rem;
      .feature-img {
        margin-bottom: 1.5rem;
        width: 644px;
      }
      h3 {
        font-size: 26px;
        line-height: 2rem;
        margin: 0 0 0.75rem;
      }
      h5 {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }
  &__footer {
    margin: 0 1rem;

    &-frame {
      align-items: center;
      display: flex;
      button {
        margin-right: 1rem;
        padding: 2px 1rem;
        @include respond-to(desktop) {
          font-size: 1rem;
          line-height: 3rem;
        }
        &:hover {
          background-color: $kp-blue;
          color: $white;
        }
      }
      input {
        cursor: pointer;
        margin-right: 6px;
      }
      h6 {
        color: $contrast-blue;
        font-size: $padding-xs;
        font-weight: 500;
        line-height: 2rem;
        margin: 0;
      }
    }
    &-divider {
      background: $pebble;
      flex: 0 0 100%;
      height: 0.25rem;
      margin: 1rem 0;
    }
    &-paging {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1rem;
      .previous-btn {
        background-image: url('/assets/images/chevron-back-none.svg');
        background-position: 0.7rem center;
        background-repeat: no-repeat;
        margin-right: 1rem;
        padding: 0 0.7rem 0 2.5rem;
      }
      .next-btn {
        background-image: url('/assets/images/chevron-forward.svg');
        background-position: right 0.7rem center;
        background-repeat: no-repeat;
        margin-right: 1rem;
        padding: 0 2.5rem 0 0.7rem;
      }
      .btn-none {
        background-color: transparent;
        border: 1px solid transparent;
        color: $dolphin;
        cursor: not-allowed;
      }
      h6 {
        color: $dolphin;
        font-size: $font-size-xs;
        font-weight: 500;
        line-height: 32px;
        margin: 0;
      }
    }
    @include respond-to(tablet) {
      margin: 0 1.25rem;
      &-divider {
        margin: 1.25rem 0;
      }
      &-paging {
        margin-bottom: 1.25rem;
      }
    }
    @include respond-to(desktop) {
      margin: 0 1.5rem;
      &-divider {
        margin: 1.5rem 0;
      }
      &-paging {
        margin-bottom: 1.5rem;
      }
    }
  }
}

@keyframes showWelcomeModal {
  0% {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    pointer-events: none;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    pointer-events: auto;
  }
}

.welcome-modal button {
  background-color: $pale-blue;
  border: 1px solid $contrast-blue;
  border-radius: $button-radius;
  color: $midnight;
  font-size: $font-size-xs;
  font-weight: 500;
  line-height: 2rem;
}
