//variables
$border__bottom--grey: rgba(0, 0, 0, 0.08);
$modal__black-opacity: rgba(0, 0, 0, 0.8);

//mixins
@mixin link-button__styles {
  color: #003b71;
  background-color: #f0f7fa;

  &:hover,
  &:focus,
  &:active {
    color: white;
    background-color: #0078b3;
    text-decoration: underline;
    text-decoration: underline;
  }
}

#modal-title-1 {
  padding: 0;
}

@mixin box-rounded__styles {
  box-sizing: border-box;
  box-shadow: 0px 4px 20px $border__bottom--grey;
  border-radius: 16px;
  border: 2px solid $border__bottom--grey;
}

//most of these styles overwrite default modal 3.0 styles
@mixin modal-ds2__styles {
  @include media($mobile) {
    height: auto;
    top: 20%;
  }

  .modal-header {
    background-color: color("pebble");
  }

  .modal-inner {
    @include box-rounded__styles;
    padding: 0px 0 16px 0;
    margin: 40px auto 0;

    @include media($desktop) {
      max-width: 692px;
      padding: 0px 0 24px 0;
    }

    @include media($tablet) {
      margin: 40px auto 0;
      padding: 0px 0 24px 0;
    }

    .modal-header {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      border-bottom: 2px solid $border__bottom--grey;
      padding: 16px 16px;

      .modal-title {
        @include media($desktop) {
          font-size: 20px;
          line-height: 28px;
          padding: 20px 24px;
          // font-family: $light-font-family;
        }

        @include media($tablet) {
          padding: 20px 24px;
          // font-family: $light-font-family;
        }
      }
    }

    > .-close--small {
      @include header-h6(center);
      display: flex;
      flex-direction: column;
      background: transparent;
      border: 0;
      align-items: center;

      padding: 0.6rem 0.5rem 0.5rem;
      img {
        width: 24px;
        height: 24px;
      }
      &:before {
        display: block;
        background-color: color("pebble");
        margin-bottom: 6px;
      }
    }
  }

  &:not(.modal-fullscreen)
    .modal-icons-enabled
    .modal-content
    .modal-content-body {
    margin-left: 24px;
    margin-right: 24px;
  }

  .modal-content-body {
    .columns-6 {
      h3 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
      p {
        line-height: 24px;
        margin-top: 0;
        @include media($desktop) {
          margin-bottom: 0;
          margin: 0;
        }
      }
    }

    a.button {
      @include link-button__styles;

      @include media($desktop) {
        margin-top: 12px;
      }
    }
  }

  .modal-fade-screen {
    background: $modal__black-opacity;
  }
}

//classes
.modal-pattern {
  @include modal-ds2__styles;
}

.modal-button {
  display: flex;
  background-image: url("/assets/images/icon-id-card.svg");
  background-repeat: no-repeat;
  background-position: 1rem center;
  align-items: center;
  padding-left: 3rem;
  &:hover {
    background-image: url("/assets/images/icon-id-card-white.svg");
  }
}
