.modal-innerdoor {
  &.modal-pattern {
    height: auto;
    .modal-container {
      padding: 0;
    }
    .modal-header {
      @include padding-responsive();
      background-color: $pebble;
      border: 2px solid #e9ebee;
      border-radius: 1rem 1rem 0 0;
      display: flex;
    }

    .modal-content {
      @include body-text();
      @include padding-responsive();

      h3 {
        @include heading-h6(); // ADA recommendation
        margin: 0 0 0.5rem;
      }
    }

    .content-body-container {
      display: flex;
      flex-direction: column;
      @include respond-to(tablet) {
        flex-direction: row;
      }
    }

    .content {
      margin-right: 1rem;
      &:first-of-type {
        margin-bottom: 1rem;
      }
      @include respond-to(tablet) {
        width: 50%;
      }
    }

    .modal-icons-enabled {
      .modal-content {
        .modal-content-body {
          margin: 0;
        }
      }
    }

    .modal-inner {
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      margin: 160px auto 0;
      padding: 0;
      width: 343px;
      @include respond-to(tablet) {
        width: 520px;
      }
      @include respond-to(desktop) {
        width: 692px;
      }
      p {
        margin: 0 0 1rem;
      }
      .-close--small {
        @include heading-h6($contrast-blue);
        @include padding-responsive(0.5rem, 1rem, 1.25rem);
        align-items: center;
        background: transparent;
        border: transparent;
        display: flex;
        flex-direction: column;
        // padding: 0.5rem;
        img {
          height: 24px;
          width: 24px;
        }
      }
      .button {
        @include button();
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.modal-button {
  // NOTE: Inherits from .button (sg) class and only overrides necessities
  @include heading-h6($midnight);
  @include respond-to(desktop) {
    font-size: 0.8125rem; // 13px
  }
  align-items: center;
  background-image: url($localImagePath + 'icon-id-card.svg');
  background-position: 1rem center;
  background-repeat: no-repeat;
  display: flex;
  padding: 0.5rem 1rem 0.5rem 3rem;
  &:hover,
  &:active,
  &:focus {
    background-image: url($localImagePath + 'icon-id-card-white.svg');
  }
}
