#benefits-modal.modal-pattern(aria-hidden="true" data-analytics-location="modal-benefits-modal")
  .modal-container
    .modal-inner.modal-icons-enabled(aria-label="Benefits" role="dialog" tabindex="-1")
      button.-close--small(aria-label="Close" data-analytics-click="Close [X] Modal" data-analytics-type="button" data-dismiss="x-close")
        img(src="assets/images/icon-close.svg" alt="")
        | Close
      .modal-header
        p.modal-title Benefits
      .modal-content
        .modal-content-body
          p Everything you need to know about your Kaiser Permanente member benefits.
          .content-body-container
            .content
              h3 Your plan and ID number
              p Find your ID number and plan type.
              a.button(data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="https://healthy.kaiserpermanente.org/colorado/front-door") View profile & preferences
            .content
              h3 Your coverage details
              p
                | View progress toward your deductible, out of pocket maximum, and other plan details.
              a.button(data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="https://healthy.kaiserpermanente.org/colorado/front-door") View coverage & costs
    .modal-fade-screen

//- Trigger to be placed in markup
.rows
  .columns-3
    button.button.modal-button.benefits-modal-button(data-modal-trigger="benefits-modal") Benefits
