extends ../layout/components-layout.pug
block component-content
  h1 Care reminders
  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat libero saepe commodi eum? Hic, pariatur repellendus magni perspiciatis voluptatibus quaerat sint repellat eius facere! Corporis odio dicta aliquam nihil. Iure!
  include ../components/care-reminders/care-reminders.pug
block script
  script(src='../components/care-reminders/care-reminders.js')
