.proxy-picker {
  .proxyPicker {
    .navigational-select-dropdown {
      align-items: center;
      background-color: $pale-blue;
      border: 1px solid $contrast-blue;
      border-radius: 40px;
      display: flex;
      padding: 0.5rem 1rem;
      @include heading-h6($midnight);
      @include respond-to(desktop) {
        font-size: 0.8125rem; // 13px
      }
      img {
        &:first-of-type {
          margin-right: 1rem;
        }
      }
      span {
        &:last-of-type {
          margin-right: 1rem;
        }
      }
    }
    .navigational-select-dropdown__list {
      border: 1px solid rgba(0, 0, 0, 0.42);
      border-radius: 20px;
      top: -12px;
      width: 343px;

      .proxy-select-value {
        border: 0;
        padding: 0;

        &:hover {
          background-color: transparent;
        }
        &:first-of-type {
          a {
            &:hover {
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
            }
          }
        }
        &:last-of-type {
          a {
            box-shadow: none;
            &:hover {
              border-bottom-left-radius: 20px;
              border-bottom-right-radius: 20px;
            }
          }
        }
        a {
          @include heading-h6($midnight);
          align-items: center;
          background-image: url('/assets/images/icon-user-profile-solid.svg');
          background-position: 1rem center;
          background-repeat: no-repeat;
          box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);
          display: flex;
          padding: 1rem 1rem 1rem 3rem;
          text-decoration: none;
          img {
            margin-right: 0.5rem;
          }
          &:hover {
            background-color: $midnight;
            background-image: url('/assets/images/icon-user-profile-solid-white.svg');
            color: $white;
          }
        }
      }
    }
  }
}
