
.region-picker {
     @include region-picker ;
 }
    
.region-picker .regionPicker .navigational-select-dropdown__list {
    border-radius: 16px;
}

.region-picker .regionPicker .navigational-select-dropdown {
    border: 1px solid #006BA6;
    padding: 8px 20px;
    border-radius: 50px;
    background-color: #F0F7FA;
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-between;
}

.region-picker .regionPicker .navigational-select-dropdown:focus {
    outline: none;
}

.navigational-select-dropdown-value {
    color: #003B71;
    font-weight: bolder;
}

.region-picker .regionPicker .navigational-select-dropdown__list .navigational-select-value:focus {
    outline: none;
}


.region-picker .regionPicker .navigational-select-dropdown__list .navigational-select-value:hover {
    background-color: #F0F7FA;
}

.region-picker .regionPicker .navigational-select-dropdown__list .navigational-select-value:hover a {
    color: #003B71;
    background-color:#F0F7FA;
}

.region-picker .regionPicker .navigational-select-dropdown__list .navigational-select-value a {
    color: #003B71;
    text-decoration: none;
}

.region-picker .regionPicker .navigational-select-dropdown__list .navigational-select-value {
    display: flex;
    justify-content: space-between;
}

.kp-yml-icon {
    margin-right: 10px;
    color: #003B71
}

.navigational-select-value-disabled {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    background-color: #F7F7F7;
    padding: 10px
}

.navigational-select-value-disabled:focus{
    outline: none
}


.kp-yml-group-icon {
    margin-right: 5px;
    vertical-align: middle;
}

.region-picker .regionPicker .navigational-select-dropdown__list.-expanded {
    max-height: 300px;
    overflow-x: scroll;
    width: 30%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
}

.icon-chevron-down {
    margin: auto 5px;
}

.region-picker .regionPicker .icon-chevron-down:before {
    color: #003B71;
}


@media only screen and (max-width: 1360px){
    .region-picker .regionPicker .navigational-select-dropdown {
        width: 30%; 
    }
  }
  
  
  @media only screen and (max-width: 1120px){
    .region-picker .regionPicker .navigational-select-dropdown {
      width: 40%
    }
    .region-picker .regionPicker .navigational-select-dropdown__list.-expanded {
        max-height: 300px;
        overflow-x: scroll;
        width: 30%
    }
  }
  
  @media only screen and (max-width: 720px){
    .region-picker .regionPicker .navigational-select-dropdown {
      width: 90%
    }
    .region-picker .regionPicker .navigational-select-dropdown__list.-expanded {
        max-height: 300px;
        overflow-x: scroll;
        width: 90%
    }
  }
  
  @media only screen and (max-width: 601px){
    .region-picker .regionPicker .navigational-select-dropdown {
        width: 100%
    }
  }