.navigational-picker.proxy-picker
  .proxyPicker
    button.navigational-select-dropdown(aria-expanded="false" aria-haspopup="listbox")
      img(src="assets/images/icon-proxy-picker-main.svg" alt="")
      span.screenreader-only Option Selected
      span.proxy-select-dropdown-value Elena Martinez
      i.icon-chevron-down(aria-hidden="true")
    ul.navigational-select-dropdown__list(data-analytics-location="Proxy Picker" role="listbox")
      li.navigational-select-value.proxy-select-value(aria-selected="false" data-value="Elena Martinez" role="option" tabindex="-1")
        a(data-analytics-click="Proxy picker selection" data-analytics-type="link" href="#") Elena Martinez
      li.navigational-select-value.proxy-select-value(aria-selected="false" data-value="Hector Martinez" role="option" tabindex="-1")
        a(data-analytics-click="Proxy picker selection" data-analytics-type="link" href="#") Hector Martinez
      li.navigational-select-value.proxy-select-value(aria-selected="false" data-value="Matteo-Rogelio Solano Villanuevo" role="option" tabindex="-1")
        a(data-analytics-click="Proxy picker selection" data-analytics-type="link" href="#") Matteo-Rogelio Solano Villanuevo
      li.navigational-select-value.proxy-select-value(aria-selected="false" data-value="Jane Villanuevo" role="option" tabindex="-1")
        a(data-analytics-click="Proxy picker selection" data-analytics-type="link" href="#") Jane Villanuevo
