- var names = ['Elena Martinez','Hector Martinez', 'Matteo-Rogelio Solano Villanuevo', 'Jane Villanuevo' ];
.navigational-picker.proxy-picker
  .proxyPicker
    button.navigational-select-dropdown(aria-expanded="false" aria-haspopup="listbox")
      img(src="assets/images/icon-proxy-picker-main.svg" alt="")
      span.screenreader-only Option Selected
      span.proxy-select-dropdown-value Elena Martinez
      i.icon-chevron-down(aria-hidden="true")
    ul.navigational-select-dropdown__list(data-analytics-location="Proxy Picker" role="listbox")
      each name in names
        li.navigational-select-value.proxy-select-value(aria-selected="false" data-value=name role="option" tabindex="-1")
          a(data-analytics-click="Proxy picker selection" data-analytics-type="link" href="#") #{name}
