.care-reminders,
.care-reminders__empty {
  h3 {
    @include heading-h3();
    margin: 0 0 2rem;
  }
}
.care-reminders {
  margin-bottom: 2rem;

  // TODO: convert to mixin & use on care actions as well
  .view-toggle {
    align-items: center;
    background: transparent;
    background-image: url($localImagePath + 'icon-minus.svg');
    background-position: 0.25rem center;
    background-repeat: no-repeat;
    border: none;
    color: $contrast-blue;
    display: flex;
    font-family: $font-family-heavy;
    font-weight: 500;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    text-decoration: underline;
    transition: background-color 0.2s ease, color 0.2s ease;
    &:hover {
      background-color: $kp-blue;
      background-image: url($localImagePath + 'icon-minus-hover.svg');
      color: $white;
    }
  }
  &__empty {
    margin-bottom: 2rem;
    ul {
      list-style: none;
      padding: 0;
      li {
        align-items: flex-start;
        display: flex;
        font-size: $font-size-lg;
        font-weight: 500;
        line-height: 1.32;
        @include respond-to(desktop) {
          align-items: flex-center;
          font-size: $font-size-xl;
          line-height: 1;
        }
        img {
          margin-right: 0.5rem;
        }
        p {
          margin: 0;
        }
      }
    }
  }
}

.care-reminders-header {
  margin-bottom: 2rem;
  h3 {
    align-items: center;
    display: flex;
    line-height: 1;
    margin: 0;
    span {
      background-color: $kp-blue;
      border-radius: 50px;
      color: $white;
      display: flex;
      font-size: 1rem;
      justify-content: center;
      line-height: 1;
      margin-right: 0.5rem;
      min-height: 2rem;
      min-width: 2rem;
      padding: 0.55rem 0.5rem 0.45rem;
    }
  }
}

.care-reminder-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 0 1rem;
  padding: 0;

  @include respond-to(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &--item {
    background-color: $white;
    border: $border;
    border-radius: $border-radius-sm;
    display: flex;
    margin: 0 0 1rem;
    padding: $padding-md;
    &.is-hidden {
      display: none;
      opacity: 0;
    }
    &.is-visible {
      animation: fadeInAnimation 0.6s both;
    }
    @keyframes fadeInAnimation {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }

    @include respond-to(tablet) {
      flex: 0 0 calc(33.3333% - 1rem);
      margin-right: 1rem;
    }
    &-image {
      margin-right: 1rem;
    }
    &-content {
      display: flex;
      flex-direction: column;
    }
    &-title {
      color: $inky-blue;
      font-family: $font-family-heavy;
      line-height: 1.5rem;
      margin: 0 0 0.5rem;
    }
    &-link {
      color: $inky-blue;
      font-size: $font-size-xs;
      margin: 0;
      padding: 0;
      text-decoration: underline;
      &:hover {
        background-color: $white;
        color: $inky-blue;
        cursor: pointer;
      }
    }
  }
}

.care-reminder-list--item__border {
  @mixin reminder-borders($color1, $color2) {
    border: $border;
    border-top: 4px solid $color1;
    &:hover {
      border: 1px solid $color2;
      border-top: 4px solid $color2;
    }
  }
  &-appointments {
    @include reminder-borders($aqua, $ocean);
  }
  &-med-acct {
    @include reminder-borders($sky, $contrast-blue);
  }
  &-med-results {
    @include reminder-borders($contrast-blue, $midnight);
  }
  &-messaging {
    @include reminder-borders($grass, $moss);
  }
  &-pharmacy {
    @include reminder-borders($lilac, $plum);
  }
}
