.care-reminders__empty
  .care-reminders-header
    h3 Care Reminders
  ul.care-reminders-list
    li
      img(src='assets/images/icon-check-circle.svg')
      p You don't have any care reminders today.
