
<div class="care-reminders">
  <div class="care-reminders-header">
    <h3><span>15</span> Care Reminders</h3>
  </div>
  <ul class="care-reminder-list">
    <li class="care-reminder-list--item care-reminder-list--item__border-med-acct ">
      <div class="care-reminder-list--item-image" aria-hidden="true"><img src="/assets/images/icon-medical-account.svg" alt="medical account"/></div>
      <div class="care-reminder-list--item-content">
        <p class="care-reminder-list--item-title">Extend your access</p><a class="care-reminder-list--item-link" tabindex="0">Renew your permission to use kp.org on behalf of those you care for before it expires</a>
      </div>
    </li>
    <li class="care-reminder-list--item care-reminder-list--item__border-messaging ">
      <div class="care-reminder-list--item-image" aria-hidden="true"><img src="/assets/images/icon-messaging.svg" alt="messaging"/></div>
      <div class="care-reminder-list--item-content">
        <p class="care-reminder-list--item-title">4 prescriptions will be ready to fill on this date</p><a class="care-reminder-list--item-link" tabindex="0">Re-fill prescriptions</a>
      </div>
    </li>
    <li class="care-reminder-list--item care-reminder-list--item__border-pharmacy ">
      <div class="care-reminder-list--item-image" aria-hidden="true"><img src="/assets/images/icon-pharmacy.svg" alt="pharmacy"/></div>
      <div class="care-reminder-list--item-content">
        <p class="care-reminder-list--item-title">Your prescription is on its way</p><a class="care-reminder-list--item-link" tabindex="0">Track it</a>
      </div>
    </li>
    <li class="care-reminder-list--item care-reminder-list--item__border-med-results ">
      <div class="care-reminder-list--item-image" aria-hidden="true"><img src="/assets/images/icon-medical-results.svg" alt="medical results"/></div>
      <div class="care-reminder-list--item-content">
        <p class="care-reminder-list--item-title">Preventive care reminders</p><a class="care-reminder-list--item-link" tabindex="0">Take steps now to feel your best</a>
      </div>
    </li>
    <li class="care-reminder-list--item care-reminder-list--item__border-appointments ">
      <div class="care-reminder-list--item-image" aria-hidden="true"><img src="/assets/images/icon-appointments.svg" alt="appointments"/></div>
      <div class="care-reminder-list--item-content">
        <p class="care-reminder-list--item-title">We can see you sooner</p><a class="care-reminder-list--item-link" tabindex="0">View and confirm you want the new appointment</a>
      </div>
    </li>
    <li class="care-reminder-list--item care-reminder-list--item__border-med-acct is-hidden">
      <div class="care-reminder-list--item-image" aria-hidden="true"><img src="/assets/images/icon-medical-account.svg" alt="medical account"/></div>
      <div class="care-reminder-list--item-content">
        <p class="care-reminder-list--item-title">Extend your access</p><a class="care-reminder-list--item-link" tabindex="0">Renew your permission to use kp.org on behalf of those you care for before it expires</a>
      </div>
    </li>
    <li class="care-reminder-list--item care-reminder-list--item__border-messaging is-hidden">
      <div class="care-reminder-list--item-image" aria-hidden="true"><img src="/assets/images/icon-messaging.svg" alt="messaging"/></div>
      <div class="care-reminder-list--item-content">
        <p class="care-reminder-list--item-title">4 prescriptions will be ready to fill on this date</p><a class="care-reminder-list--item-link" tabindex="0">Re-fill prescriptions</a>
      </div>
    </li>
    <li class="care-reminder-list--item care-reminder-list--item__border-med-results is-hidden">
      <div class="care-reminder-list--item-image" aria-hidden="true"><img src="/assets/images/icon-medical-results.svg" alt="medical results"/></div>
      <div class="care-reminder-list--item-content">
        <p class="care-reminder-list--item-title">Preventive care reminders</p><a class="care-reminder-list--item-link" tabindex="0">Take steps now to feel your best</a>
      </div>
    </li>
    <li class="care-reminder-list--item care-reminder-list--item__border-appointments is-hidden">
      <div class="care-reminder-list--item-image" aria-hidden="true"><img src="/assets/images/icon-appointments.svg" alt="appointments"/></div>
      <div class="care-reminder-list--item-content">
        <p class="care-reminder-list--item-title">We can see you sooner</p><a class="care-reminder-list--item-link" tabindex="0">View and confirm you want the new appointment</a>
      </div>
    </li>
    <li class="care-reminder-list--item care-reminder-list--item__border-med-acct is-hidden">
      <div class="care-reminder-list--item-image" aria-hidden="true"><img src="/assets/images/icon-medical-account.svg" alt="medical account"/></div>
      <div class="care-reminder-list--item-content">
        <p class="care-reminder-list--item-title">Extend your access</p><a class="care-reminder-list--item-link" tabindex="0">Renew your permission to use kp.org on behalf of those you care for before it expires</a>
      </div>
    </li>
    <li class="care-reminder-list--item care-reminder-list--item__border-messaging is-hidden">
      <div class="care-reminder-list--item-image" aria-hidden="true"><img src="/assets/images/icon-messaging.svg" alt="messaging"/></div>
      <div class="care-reminder-list--item-content">
        <p class="care-reminder-list--item-title">4 prescriptions will be ready to fill on this date</p><a class="care-reminder-list--item-link" tabindex="0">Re-fill prescriptions</a>
      </div>
    </li>
    <li class="care-reminder-list--item care-reminder-list--item__border-med-results is-hidden">
      <div class="care-reminder-list--item-image" aria-hidden="true"><img src="/assets/images/icon-medical-results.svg" alt="medical results"/></div>
      <div class="care-reminder-list--item-content">
        <p class="care-reminder-list--item-title">Preventive care reminders</p><a class="care-reminder-list--item-link" tabindex="0">Take steps now to feel your best</a>
      </div>
    </li>
    <li class="care-reminder-list--item care-reminder-list--item__border-appointments is-hidden">
      <div class="care-reminder-list--item-image" aria-hidden="true"><img src="/assets/images/icon-appointments.svg" alt="appointments"/></div>
      <div class="care-reminder-list--item-content">
        <p class="care-reminder-list--item-title">We can see you sooner</p><a class="care-reminder-list--item-link" tabindex="0">View and confirm you want the new appointment</a>
      </div>
    </li>
    <li class="care-reminder-list--item care-reminder-list--item__border-med-acct is-hidden">
      <div class="care-reminder-list--item-image" aria-hidden="true"><img src="/assets/images/icon-medical-account.svg" alt="medical account"/></div>
      <div class="care-reminder-list--item-content">
        <p class="care-reminder-list--item-title">Extend your access</p><a class="care-reminder-list--item-link" tabindex="0">Renew your permission to use kp.org on behalf of those you care for before it expires</a>
      </div>
    </li>
    <li class="care-reminder-list--item care-reminder-list--item__border-messaging is-hidden">
      <div class="care-reminder-list--item-image" aria-hidden="true"><img src="/assets/images/icon-messaging.svg" alt="messaging"/></div>
      <div class="care-reminder-list--item-content">
        <p class="care-reminder-list--item-title">4 prescriptions will be ready to fill on this date</p><a class="care-reminder-list--item-link" tabindex="0">Re-fill prescriptions</a>
      </div>
    </li>
  </ul>
  <button class="view-toggle" id="my-button" aria-expanded="true" type="button">View all care reminders</button>
</div>