
<p>Care actions - view more static example / no transition</p>
<div class="care-actions">
  <div class="toggle-content is-visible">
    <div class="panel">
      <h3>Get Care</h3>
      <ul class="care-actions-primary-list">
        <li class="care-actions-primary-list--flex-static care-actions-primary-list--flex--33">
          <button class="care-actions-primary-list--item">
            <div class="care-actions-primary-list--item-image"><img src="assets/images/online-care.png" alt=""/></div>
            <div class="care-actions-primary-list--item-content">
              <div class="care-actions-primary-list--item-title">Online Care</div>
              <div class="care-actions-primary-list--item-description">Get quality care faster.</div>
            </div>
          </button>
        </li>
        <li class="care-actions-primary-list--flex-static care-actions-primary-list--flex--33">
          <button class="care-actions-primary-list--item">
            <div class="care-actions-primary-list--item-image"><img src="assets/images/call-care.png" alt=""/></div>
            <div class="care-actions-primary-list--item-content">
              <div class="care-actions-primary-list--item-title">Call for Care</div>
              <div class="care-actions-primary-list--item-description">Talk with a licensed care provider by phone.</div>
            </div>
          </button>
        </li>
        <li class="care-actions-primary-list--flex-static care-actions-primary-list--flex--33">
          <button class="care-actions-primary-list--item">
            <div class="care-actions-primary-list--item-image"><img src="assets/images/person-care.png" alt=""/></div>
            <div class="care-actions-primary-list--item-content">
              <div class="care-actions-primary-list--item-title">In-Person Care</div>
              <div class="care-actions-primary-list--item-description">Make an appointment or find care locations.</div>
            </div>
          </button>
        </li>
      </ul>
      <ul class="care-actions-secondary-list">
        <li><a class="care-actions-secondary-list-button" href="#">COVID-19: Get Care & Testing</a></li>
        <li><a class="care-actions-secondary-list-button" href="#">Women’s Health</a></li>
        <li><a class="care-actions-secondary-list-button" href="#">Cold & Flu, Cough, Sore Throat, Sinus</a></li>
        <li><a class="care-actions-secondary-list-button" href="#">Skin Problems / Conditions</a></li>
      </ul>
      <button class="view-toggle-static" aria-expanded="false" type="button">View more care actions (7)</button>
    </div>
  </div>
</div>