
<p>Care actions - view less example plus transition</p>
<div class="care-actions" id="care-actions">
  <div class="toggle-content is-visible" id="care-actions-toggle">
    <div class="panel">
      <h3>Get Care</h3>
      <ul class="care-actions-primary-list">
        <li class="care-actions-primary-list--flex care-actions-primary-list--flex--33">
          <button class="care-actions-primary-list--item button modal-button" data-modal-trigger="secondary-state-modal-0">
            <div class="care-actions-primary-list--item-image"><img src="/assets/images/online-care.png" alt=""/></div>
            <div class="care-actions-primary-list--item-content">
              <div class="care-actions-primary-list--item-title">Connect with a doctor</div>
              <div class="care-actions-primary-list--item-description">Get quality care faster.</div>
            </div>
          </button>
        </li>
        <li class="care-actions-primary-list--flex care-actions-primary-list--flex--33">
          <button class="care-actions-primary-list--item button modal-button" data-modal-trigger="secondary-state-modal-1">
            <div class="care-actions-primary-list--item-image"><img src="/assets/images/call-care.png" alt=""/></div>
            <div class="care-actions-primary-list--item-content">
              <div class="care-actions-primary-list--item-title">Call for Care</div>
              <div class="care-actions-primary-list--item-description">Talk with a licensed care provider by phone.</div>
            </div>
          </button>
        </li>
        <li class="care-actions-primary-list--flex care-actions-primary-list--flex--33">
          <button class="care-actions-primary-list--item button modal-button" data-modal-trigger="secondary-state-modal-2">
            <div class="care-actions-primary-list--item-image"><img src="/assets/images/person-care.png" alt=""/></div>
            <div class="care-actions-primary-list--item-content">
              <div class="care-actions-primary-list--item-title">In-Person Care</div>
              <div class="care-actions-primary-list--item-description">Make an appointment or find care locations.</div>
            </div>
          </button>
        </li>
      </ul>
      <ul class="care-actions-secondary-list">
        <li><a class="care-actions-secondary-list-button" href="#">COVID-19: Get Care &amp; Testing</a></li>
        <li><a class="care-actions-secondary-list-button" href="#">Women’s Health</a></li>
        <li><a class="care-actions-secondary-list-button" href="#">Cold &amp; Flu, Cough, Sore Throat, Sinus</a></li>
        <li><a class="care-actions-secondary-list-button" href="#">Skin Problems / Conditions</a></li>
        <li><a class="care-actions-secondary-list-button" href="#">Women’s Health</a></li>
        <li><a class="care-actions-secondary-list-button" href="#">Cold &amp; Flu, Cough, Sore Throat, Sinus</a></li>
        <li><a class="care-actions-secondary-list-button" href="#">Skin Problems / Conditions</a></li>
      </ul>
      <button class="view-toggle" aria-expanded="false" type="button">View less care actions (10)</button>
    </div>
  </div>
</div>