.test-component
  i.icon-zz005-checkmark-circle.neutral-icon(aria-hidden="true")
  span.screenreader-only Completed
  .form-group
    label.screenreader-only(for="select-menu-1") State:
    .select-one
      select#select-menu-1(autocomplete="address-level1")
        option(value="CA") California
        option(value="GA") Georgia
      span.icon-chevron-down(aria-hidden="true")
i.icon-advice-circle
  span.screenreader-only advice-circle
hr
i.icon-advice-circle.icon-md
  span.screenreader-only advice-circle
hr
i.icon-advice-circle.icon-lg
  span.screenreader-only advice-circle