
<div class="container-bg">
  <div class="psa">
    <div class="newGrid_container">
      <div class="rows">
        <div class="columns-4">
          <div class="content">
            <h2 class="content-title">Get your flu shot for free</h2>
            <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis.</p>
            <div class="content-footer"><a class="button" href="/">Get a flu shot</a><a href="/">Learn more</a></div>
          </div>
        </div>
        <div class="columns-4">
          <div class="content">
            <h2 class="content-title">Get immediate help with our virtual assistant</h2>
            <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam.</p>
            <div class="content-footer"><a class="button" href="/">Open virtual assistant</a><a href="/">Learn more</a></div>
          </div>
        </div>
        <div class="columns-4">
          <div class="content">
            <h2 class="content-title">Managing diabetes</h2>
            <p class="content-description">You get convenient access to care that fits your life. Learn more about how to live your best life. </p>
            <div class="content-footer"><a class="button" href="/">View resources</a><a href="/">Learn more</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>