/*
LINK styles
NOTE: use with <a> elements
*/

@mixin link(
  $color: $contrast-blue,
  $bg-hover: $kp-blue,
  $bg-active: $midnight
) {
  @include font-base($font-family-medium, normal, 400);
  color: $color;
  font-size: $font-size-xs;
  line-height: 2rem;
  padding: 0.5rem 0;
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease;
  &:hover {
    background-color: $bg-hover;
    color: $white;
    text-decoration: underline;
  }
  &:active {
    background-color: $bg-active;
    color: $white;
  }
  &:disabled {
    // tbd
  }
  @include respond-to(desktop) {
    font-size: $font-size-md;
  }
}

// TODO: link with icon variant
// TODO: inverted link variant

/*
Button styles
NOTE: can be used with either <button> or <a> elements
*/

@mixin button(
  $color: $midnight,
  $bg-color: $pale-blue,
  $bg-hover: $contrast-blue,
  $bg-active: $midnight
) {
  @include font-base($font-family-medium, normal, 400);
  background-color: $bg-color;
  border: 1px solid $bg-hover;
  border-radius: 100px;
  color: $color;
  font-size: $font-size-xs;
  line-height: 2rem;
  margin-right: 0.625rem;
  padding: 0.125rem 1rem; // 2px 16px
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease;
  &:hover {
    background-color: $bg-hover;
    color: $white;
    text-decoration: underline;
  }
  &:active {
    background-color: $bg-active;
    color: $white;
  }
  &:disabled {
    // tbd
  }
  @include respond-to(desktop) {
    font-size: $font-size-md;
    line-height: 3rem;
    margin-right: 1rem;
  }
}

// TODO: inverted button variant
// TODO: button with icon variant
