// Global Modal styles
.modal-pattern {
  height: auto;

  &.modal-showing {
    max-height: 100%;
    overflow-y: auto;
  }

  .modal-container {
    padding: 0 1rem;
    @include respond-to(tablet) {
      padding: 0;
    }
  }

  .modal-inner {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: 1rem auto 0;
    overflow-y: visible;
    padding: 0;
    @include respond-to(tablet) {
      width: 520px;
    }
    @include respond-to(desktop) {
      width: 692px;
    }
    p {
      margin: 0 0 1rem;
    }
    .-close--small {
      @include heading-h6($contrast-blue);
      @include padding-responsive(0.5rem, 1rem, 1.25rem);
      align-items: center;
      background: transparent;
      border: transparent;
      display: flex;
      flex-direction: column;
      font-size: 0.875rem !important;
      img {
        height: 24px;
        width: 24px;
      }
    }
    .modal-header {
      @include padding-responsive();
      background-color: $pebble;
      border: 2px solid $graphite;
      border-radius: 1rem 1rem 0 0;
      display: flex;
      .modal-title {
        @include heading-h3();
        font-family: $font-family-medium;
        font-size: 1.25rem !important; // 20px
        margin-bottom: 0 !important;
      }
    }

    .modal-content {
      @include body-text();
      @include padding-responsive();
      // TODO: resolve padding differences with above (allow passing value)
      padding: 1.25rem;

      h3 {
        @include heading-h6(); // ADA recommendation
        margin: 0 0 0.5rem;
      }

      // TODO: explore fixes that don't require use of !important 3x below
      .modal-content-body {
        margin: 0 !important;
      }
      .modal-actions {
        margin: 0 !important;
        .modal-checkboxes {
          align-items: center;
          display: flex;
          padding: 0;
          input {
            margin-right: 0.5rem !important;
          }
        }
      }
    }
  }
}
