
<div class="primary-card-content" id="primary-card-content" aria-hidden="true">
  <h3 class="greeting greeting-mobile" id="greeting-mobile">What kind of care do you need?</h3>
  <div class="primary-card-content-modal" id="primary-card-modal">
    <div class="display-none primary-card-content-0" id="primary-card-content-0">
      <div class="panel grid">
        <div class="newGrid_container">
          <div class="primary-card-content__header">
            <h3 class="-header">Online Care</h3>
            <button class="-close--small" aria-label="Close" data-analytics-click="Close [X] Modal" data-analytics-type="button" data-dismiss="x-close"><img src="assets/images/icon-close-circle.svg" alt=""/></button>
          </div>
          <div class="rows">
            <div class="columns-4">
              <div class="primary-card-content__title">
                <h4 class="-title">E-visit</h4><img src="assets/images/icon-speed.svg" alt=""/><span>Fastest</span>
              </div>
              <p>Get online care and prescriptions from a doctor, usually within an hour.</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">Schedule an e-visit</a>
              <div class="primary-card-content__divider primary-card-content__divider-mobile"></div>
            </div>
            <div class="columns-4">
              <div class="primary-card-content__title">
                <h4 class="-title">Phone or video appt</h4>
              </div>
              <p>Schedule a face-to-face visit with a clinician by video for the same high-quality care as an in-person visit</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">Schedule a video visit</a>
              <div class="primary-card-content__divider primary-card-content__divider-mobile"></div>
            </div>
            <div class="columns-4">
              <div class="primary-card-content__title">
                <h4 class="-title">E-mail</h4>
              </div>
              <p>Message your clinician’s office with nonurgent questions anytime.</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">E-mail your doctor now</a>
              <div class="primary-card-content__divider primary-card-content__divider-mobile"></div>
            </div>
            <div class="columns-4">
              <div class="primary-card-content__title">
                <h4 class="-title">Title</h4>
              </div>
              <ul>
                <li>Problems with a bladder infection</li>
                <li>Urinary incontinance</li>
                <li>Vaginal Yeast Infections</li>
              </ul><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">Schedule a video visit</a>
              <div class="primary-card-content__divider primary-card-content__divider-mobile"></div>
            </div>
            <div class="columns-4">
              <div class="primary-card-content__title">
                <h4 class="-title">Title</h4>
              </div>
              <p>Message your clinician’s office with nonurgent questions anytime.</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">E-mail your doctor now</a>
              <div class="primary-card-content__divider primary-card-content__divider-mobile"></div>
            </div>
            <div class="columns-4">
              <div class="primary-card-content__title">
                <h4 class="-title">Title</h4>
              </div>
              <p>Schedule a face-to-face visit with a clinician by video for the same high-quality care as an in-person visit</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">Schedule a video visit</a>
              <div class="primary-card-content__divider primary-card-content__divider-mobile"></div>
            </div>
          </div>
          <div class="primary-card-content__divider primary-card-content__divider-tablet"></div>
          <div class="primary-card-content__footer">
            <p><strong>Do not attempt to access emergency care through this website.</strong><br/>If you are having a medical health emergency, call 911 or go to the nearest emergency room.  </p>
          </div>
        </div>
      </div>
    </div>
    <div class="display-none primary-card-content-1" id="primary-card-content-1">
      <div class="panel grid">
        <div class="newGrid_container">
          <div class="primary-card-content__header">
            <h3 class="-header">Call for Care</h3>
            <button class="-close--small" aria-label="Close" data-analytics-click="Close [X] Modal" data-analytics-type="button" data-dismiss="x-close"><img src="assets/images/icon-close-circle.svg" alt=""/></button>
          </div>
          <div class="rows">
            <div class="columns-6">
              <div class="primary-card-content__title">
                <h4 class="-title">E-visit</h4><img src="assets/images/icon-speed.svg" alt=""/><span>Fastest</span>
              </div>
              <p>Get online care and prescriptions from a doctor, usually within an hour.</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">Schedule an e-visit</a>
              <div class="primary-card-content__divider primary-card-content__divider-mobile"></div>
            </div>
            <div class="columns-6">
              <div class="primary-card-content__title">
                <h4 class="-title">Phone or video appt</h4>
              </div>
              <p>Schedule a face-to-face visit with a clinician by video for the same high-quality care as an in-person visit</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">Schedule a video visit</a>
              <div class="primary-card-content__divider primary-card-content__divider-mobile"></div>
            </div>
            <div class="columns-6">
              <div class="primary-card-content__title">
                <h4 class="-title">E-mail</h4>
              </div>
              <p>Message your clinician’s office with nonurgent questions anytime.</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">E-mail your doctor now</a>
              <div class="primary-card-content__divider primary-card-content__divider-mobile"></div>
            </div>
            <div class="columns-6">
              <div class="primary-card-content__title">
                <h4 class="-title">Title</h4>
              </div>
              <p>Schedule a face-to-face visit with a clinician by video for the same high-quality care as an in-person visit</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">Schedule a video visit</a>
              <div class="primary-card-content__divider primary-card-content__divider-mobile"></div>
            </div>
          </div>
          <div class="primary-card-content__divider primary-card-content__divider-tablet"></div>
          <div class="primary-card-content__footer">
            <p><strong>Do not attempt to access emergency care through this website.</strong><br/>If you are having a medical health emergency, call 911 or go to the nearest emergency room.  </p>
          </div>
        </div>
      </div>
    </div>
    <div class="display-none primary-card-content-2" id="primary-card-content-2">
      <div class="panel grid">
        <div class="newGrid_container">
          <div class="primary-card-content__header">
            <h3 class="-header">In-Person Care</h3>
            <button class="-close--small" aria-label="Close" data-analytics-click="Close [X] Modal" data-analytics-type="button" data-dismiss="x-close"><img src="assets/images/icon-close-circle.svg" alt=""/></button>
          </div>
          <div class="rows">
            <div class="columns-6">
              <div class="primary-card-content__title">
                <h4 class="-title">E-visit</h4><img src="assets/images/icon-speed.svg" alt=""/><span>Fastest</span>
              </div>
              <p>Get online care and prescriptions from a doctor, usually within an hour.</p><a class="button" data-analytics-click="Primary Button" data-analytics-type="button" data-success="btn1" href="#">Schedule an e-visit</a>
              <div class="primary-card-content__divider primary-card-content__divider-mobile"></div>
            </div>
          </div>
          <div class="primary-card-content__divider primary-card-content__divider-tablet"></div>
          <div class="primary-card-content__footer">
            <p><strong>Do not attempt to access emergency care through this website.</strong><br/>If you are having a medical health emergency, call 911 or go to the nearest emergency room.  </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var closePrimaryContents = document.querySelectorAll('.-close--small');
    closePrimaryContents.forEach(function(content, i){
      content.addEventListener('click', function (e) {
        document.getElementById("care-actions").setAttribute('aria-hidden', 'false');
        primaryContent.setAttribute('aria-hidden', 'true');
        contentIndex(e, i);
      });
    })
    
    function contentIndex(e, index) {
      careDisplay.classList.remove("care-display-animation-in");
      careDisplay.classList.add("care-display-animation-out");
    
      var clickCard = document.getElementById(`primary-card-content-${index}`);
    
      // Get the natural height of the element
      var getHeight = function () {
        careActions.style.display = 'block'; // Make it visible
        var height = careActions.scrollHeight + 'px'; // Get it's height
        careActions.style.display = ''; //  Hide it again
        return height;
      };
    
      var height = getHeight(); // Get the natural height
      careActions.classList.add('is-visible'); // Make the element visible
      careActions.style.height = height; // Update the max-height
    
      // Once the transition is complete, remove the inline max-height so the content can scale responsively
      window.setTimeout(function () {
        careActions.style.height = '';
        document.getElementById("greeting").textContent = "Hi Jaeroine, how can we help you?";
      }, 400);
    
      // when mobile
      primaryModal.classList.add("primary-card-content-modal-out");
      window.setTimeout(function () {
        primaryContent.classList.add("primary-card-content--animation-out");
        primaryContent.style.display = "none";
        clickCard.classList.add("display-none");
        window.scrollTo(0, 1);
      }, 400);
      document.getElementById("greeting-mobile").classList.add("greeting-mobile--opacity-animation-out");
      document.body.classList.remove("kp-modal-disable-scroll");
    }
  </script>
</div>