
<div class="navigational-picker proxy-picker">
  <div class="proxyPicker">
    <button class="navigational-select-dropdown" aria-expanded="false" aria-haspopup="listbox"><img src="/assets/images/icon-proxy-picker-main.svg" alt=""/><span class="screenreader-only">Option Selected</span><span class="proxy-select-dropdown-value">Elena Martinez</span><i class="icon-chevron-down" aria-hidden="true"></i></button>
    <ul class="navigational-select-dropdown__list" data-analytics-location="Proxy Picker" role="listbox">
      <li class="navigational-select-value proxy-select-value" aria-selected="false" data-value="Elena Martinez" role="option" tabindex="-1"><a data-analytics-click="Proxy picker selection" data-analytics-type="link" href="#">Elena Martinez</a></li>
      <li class="navigational-select-value proxy-select-value" aria-selected="false" data-value="Hector Martinez" role="option" tabindex="-1"><a data-analytics-click="Proxy picker selection" data-analytics-type="link" href="#">Hector Martinez</a></li>
      <li class="navigational-select-value proxy-select-value" aria-selected="false" data-value="Matteo-Rogelio Solano Villanuevo" role="option" tabindex="-1"><a data-analytics-click="Proxy picker selection" data-analytics-type="link" href="#">Matteo-Rogelio Solano Villanuevo</a></li>
      <li class="navigational-select-value proxy-select-value" aria-selected="false" data-value="Jane Villanuevo" role="option" tabindex="-1"><a data-analytics-click="Proxy picker selection" data-analytics-type="link" href="#">Jane Villanuevo</a></li>
    </ul>
  </div>
</div>