.add-new-member {
  margin: 1rem 0;
  @include respond-to(tablet) {
    margin: 1.5rem 0;
  }
  &-btn {
    background: transparent;
    background-color: $pale-blue;
    background-image: url('/assets/images/plus.png');
    background-position: 1rem center;
    background-repeat: no-repeat;
    border: 1px solid #006ba6;
    border-radius: 40px;
    box-shadow: $box-shadow;
    color: $midnight;
    font-size: $font-size-xs;
    // font-family: $font-family-md;
    font-weight: bolder;
    line-height: 1.25rem;
    padding: 0.5rem 1rem 0.5rem 3rem;
    transition: background-color 0.2s ease, color 0.2s ease;
    &:hover {
      background-color: $midnight;
      background-image: url('/assets/images/plus-hover.png');
      color: $white;
    }
  }
}
