.container-bg {
  background: $pale-blue;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 3rem;
  padding: 2rem 0;
  @include respond-to(tablet) {
    padding: 2.5rem 0;
  }
  @include respond-to(desktop) {
    padding: 3rem 0;
  }
}

.psa {
  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2.5rem 0;
    @include respond-to(desktop) {
      padding: 0;
    }
    &-title {
      @include heading-h2();
    }
    &-description {
      @include body-text();
    }
    &-footer {
      margin-top: auto;
      a {
        display: inline-flex;
      }
    }
  }
  .rows {
    grid-template-columns: repeat(6, 1fr);
    @include respond-to(desktop) {
      grid-template-columns: repeat(12, 1fr);
    }
  }
  .columns-4 {
    grid-column: span 6;
    padding: 2rem 0;
    @include respond-to(tablet) {
      padding: 2.5rem 0;
    }
    @include respond-to(desktop) {
      grid-column: span 4;
      padding: 0 1rem;
    }
    &:not(:first-child):not(:last-child) {
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      // padding: 0 1rem;
      @include respond-to(desktop) {
        border: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.05);
        border-left: 1px solid rgba(0, 0, 0, 0.05);
      }
    }
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
    .content {
      padding: 0 1rem;
    }
  }
}
