.care-display {
  @include respond-to(tablet) {
    display: flex;
    position: relative;
  }
}

.toggle-content {
  display: none;
  height: 0;
  overflow: hidden;
  transition: height 400ms ease-in-out;
}

.toggle-content.is-visible {
  display: block;
  height: auto;
}

.care-display-animation-in {
  animation: primaryCardAnimation 400ms both;
}

@keyframes primaryCardAnimation {
  0% {
    right: 0;
  }
  100% {
    right: calc(100% + 2rem);
  }
}
@include respond-to(tablet) {
  @keyframes primaryCardAnimation {
    0% {
      right: 0;
    }
    100% {
      right: calc(100% + 3.5rem);
    }
  }
}
@include respond-to(desktop) {
  @keyframes primaryCardAnimation {
    0% {
      right: 0;
    }
    100% {
      right: $desktop-right-size-2;
    }
  }
}

.care-display-animation-out {
  animation: primaryCardAnimationOut 400ms both;
}

@keyframes primaryCardAnimationOut {
  0% {
    right: calc(100% + 2rem);
  }
  100% {
    right: 0;
  }
}
@include respond-to(tablet) {
  @keyframes primaryCardAnimationOut {
    0% {
      right: calc(100% + 3.5rem);
    }
    100% {
      right: 0;
    }
  }
}
@include respond-to(desktop) {
  @keyframes primaryCardAnimationOut {
    0% {
      right: $desktop-right-size-2;
    }
    100% {
      right: 0;
    }
  }
}

.care-actions {
  flex: 0 0 100%;
  h3 {
    font-family: $font-family-heavy;
    font-size: 26px;
    font-weight: 500;
    margin: 0 0 1.5rem;
  }
  .view-toggle {
    align-items: center;
    background: transparent;
    background-image: url('/assets/images/plus.png');
    background-position: 0.25rem center;
    background-repeat: no-repeat;
    border: none;
    color: $inky-blue;
    display: flex;
    font-family: $font-family-heavy;
    font-weight: 500;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    text-decoration: underline;
    transition: background-color 0.2s ease, color 0.2s ease;
    &:hover {
      background-color: $inky-blue;
      background-image: url('/assets/images/plus-hover.png');
      color: $white;
    }
  }
}
.care-actions-primary-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 0.75rem;
  padding: 0;
  &--flex {
    display: flex;
    flex: 0 0 100%;
    margin-bottom: 0.75rem;
    @include respond-to(tablet) {
      &--50 {
        flex: 0 0 calc(50% - 1rem);
        &:nth-child(2n - 1) {
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }
      &--33 {
        flex: 0 0 calc(33.3333% - 0.6666rem);
        &:nth-child(3n - 1) {
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }
    }
  }
  &--item {
    background-color: $midnight;
    border: $border;
    border-radius: $border-radius;
    cursor: pointer;
    display: flex;
    flex: 1;
    padding: $padding-md;
    transition: background-color 0.2s ease, color 0.2s ease,
      border-color 0.2s ease;
    &-image {
      margin-right: 1rem;
      img {
        height: 3rem;
        width: 3rem;
      }
    }
    &-content {
      color: $white;
      display: flex;
      flex-direction: column;
    }
    &-title {
      @include respond-to(desktop) {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
      display: flex;
      font-family: $font-family-heavy;
      font-size: 1rem;
      justify-content: left;
      letter-spacing: -0.01em;
      line-height: 1.5rem;
      margin: 0;
      text-align: left;
      word-break: break-word;
    }
    &-description {
      display: flex;
      font-size: $font-size-xs;
      justify-content: left;
      line-height: 1.25rem;
      margin: 0;
      text-align: left;
      word-break: break-word;
    }
    &-link {
      color: $link-color;
      font-size: $font-size-xs;
      margin: 0;
    }
    &:hover {
      background-color: $contrast-blue;
      color: $white;
      text-decoration: underline;
    }
  }
}

.care-actions-secondary-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 0.75rem;
  padding: 0;
  &-button {
    background-color: $pale-blue;
    border: 1px solid $kp-blue;
    border-radius: $button-radius;
    color: $midnight;
    display: inline-block;
    font-size: $font-size-xs;
    line-height: 2rem;
    margin: 0 0.625rem 0.625rem 0;
    margin-right: 1rem;
    padding: 2px 1rem;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease,
      border-color 0.2s ease;
    @include respond-to(desktop) {
      font-size: 1rem;
      line-height: 3rem;
      margin: 0 1rem 0.75rem 0;
    }
    &:hover {
      background-color: $kp-blue;
      color: $white;
    }
  }
}

.care-actions-footer {
  display: inline-block;
  margin: 0;
  &--link {
    align-items: flex-end;
    background-color: $white;
    border: 0;
    color: $midnight;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    transition: background-color 0.2s ease, color 0.2s ease,
      border-color 0.2s ease;
    img {
      margin-right: 0.5rem;
    }
    p {
      font-family: $font-family-heavy;
      font-size: $font-size-xs;
      line-height: 1.25rem;
      margin: 0;
      text-decoration: underline;
      @include respond-to(tablet) {
        font-size: $font-size-md;
        line-height: 1.5rem;
      }
    }
    &-number {
      text-decoration: none !important;
    }
    &:hover {
      background-color: $midnight;
      color: $white;
    }
  }
}
