p Care actions - view more static example / no transition
.care-actions
  .toggle-content.is-visible
    .panel
      h3 Get Care
      ul.care-actions-primary-list
        li.care-actions-primary-list--flex-static.care-actions-primary-list--flex--33
          button.care-actions-primary-list--item
            .care-actions-primary-list--item-image
              img(src="assets/images/online-care.svg" alt="")
            .care-actions-primary-list--item-content
              .care-actions-primary-list--item-title Online Care
              .care-actions-primary-list--item-description Get quality care faster.
        li.care-actions-primary-list--flex-static.care-actions-primary-list--flex--33
          button.care-actions-primary-list--item
            .care-actions-primary-list--item-image
              img(src="assets/images/call-care.svg" alt="")
            .care-actions-primary-list--item-content
              .care-actions-primary-list--item-title Call for Care
              .care-actions-primary-list--item-description Talk with a licensed care provider by phone.
        li.care-actions-primary-list--flex-static.care-actions-primary-list--flex--33
          button.care-actions-primary-list--item
            .care-actions-primary-list--item-image
              img(src="assets/images/person-care.svg" alt="")
            .care-actions-primary-list--item-content
              .care-actions-primary-list--item-title In-Person Care
              .care-actions-primary-list--item-description Make an appointment or find care locations.
      ul.care-actions-secondary-list
        li
          a.button(href="#") COVID-19: Get Care & Testing
        li
          a.button(href="#") Women’s Health
        li
          a.button(href="#") Cold & Flu, Cough, Sore Throat, Sinus
        li
          a.button(href="#") Skin Problems / Conditions
      button.view-toggle-static(aria-expanded="false" type="button") View more care actions (7)
