extends layout/layout.pug

block content
  #container.container
    include components/welcome-modal/welcome-modal.pug
    include components/proxy-picker/proxy-picker.pug
    include components/benefits-modal/benefits-modal.pug
    include components/add-new-member/add-new-member.pug
    include components/greeting/greeting.pug
    include components/banner/banner.pug
    include components/care-team/care-team.pug

    //- show both populated and empty states
    include components/care-reminders/care-reminders.pug
    include components/care-reminders/care-reminders-empty.pug

    include components/care-actions/care-actions.pug
  include components/psa/psa.pug
