extends layout/layout.pug

block content
  .container
    include components/greeting/greeting.pug
    include components/banner/banner.pug
    include components/care-team/care-team.pug
    include components/care-reminders/care-reminders.pug