extends layout/layout.pug

block content
  .container
    p The following should look like a styleguide button, thus proving the styleguide styles are applied.
    button.button(
        data-analytics-type="button"
        data-analytics-click="Primary Button"
    )
      | Example Styleguide Button