
<div class="modal-pattern" id="welcome-modal" aria-hidden="true" data-analytics-location="modal-welcome-modal">
  <div class="modal-container">
    <div class="modal-inner modal-icons-enabled" aria-label="Welcome" role="dialog" tabindex="-1">
      <button class="-close--small" aria-label="Close" data-analytics-click="Close [X] Modal" data-analytics-type="button" data-dismiss="x-close"><img src="/assets/images/icon-close.svg" alt=""/>Close</button>
      <div class="modal-header">
        <p class="modal-title">What's new</p>
      </div>
      <div class="modal-content">
        <div class="modal-content-body"><img class="welcome-modal-img" src="/assets/images/welcome-modal-img-1.svg"/>
          <p class="welcome-modal-title">Stay on top of your health with timely reminders</p></p>
          <p>Get a personalized cost estimate for most prescriptions based on your health plan with our new drug pricing tool.</p>
          <div class="modal-actions">
            <div class="modal-checkboxes">
              <input class="modal-checkbox check-box form-control" id="welcome-modal-chkbx" action-id="dontShowAgain" type="checkbox"/>
              <label for="welcome-modal-chkbx"><span aria-hidden="true"></span>Don't show again</label>
            </div>
            <div class="modal-buttons -right">
              <button class="button primary modal-dont-show-again-btn" data-analytics-click="Close" data-analytics-type="button" data-success="saveandclose">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-fade-screen"></div>
  </div>
</div>
<div class="rows">
  <div class="columns-3">
    <button class="button modal-button welcome-modal-button" data-modal-trigger="welcome-modal">Welcome Modal</button>
  </div>
</div>