.banner {
  h2 {
    margin-bottom: rem;
  }
  p {
    margin: 0 0 2rem;
  }
  button {
    background-color: $motion-blue;
    border: 1px solid $inky;
    border-radius: $button-radius;
    font-size: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    transition: background-color 0.2s ease, color 0.2s ease,
      border-color 0.2s ease;
    &:hover {
      background-color: $inky;
      text-decoration: underline;
      color: $white;
    }
  }

  a {
    color: $inky;
    display: inline-block;
    padding: 0.5rem;
    text-decoration: underline;
    &:hover {
      background-color: $inky;
      color: $white;
    }
  }
}

@media screen and (min-width: 230px) {
  .banner {
    button {
      margin-bottom: 1rem;
    }
  }
}
