.banner {
  p {
    margin: 0 0 1rem;
    @include respond-to(tablet) {
      margin: 0 0 1.25rem;
    }
    @include respond-to(desktop) {
      margin: 0 0 1.5rem;
    }
  }

  &-footer {
    display: flex;
    flex-direction: column;
    @include respond-to(tablet) {
      align-items: center;
      flex-direction: row;
    }

    a {
      @include link($inky-blue, $inky-blue, $inky-blue);
      line-height: 1.25rem;
      &.button {
        @include button($inky-blue, $motion-blue, $inky-blue, $inky-blue);
        margin-bottom: 0.5rem;
        @include respond-to(tablet) {
          margin-bottom: 0;
        }
      }
    }
  }
}

.flex-column {
  align-items: flex-start;
  flex-direction: column;

  button {
    margin-bottom: 0.5rem;
  }

  a {
    padding: 0;
  }
}
