.banner
  include ../panel/panel-info.pug
    h3 Get care for COVID-19 24/7
    p Request a COVID-19 test from the comfort of your home, talk to a Kaiser Permanente provider about your symptoms or get the latest up to date information and resources.
    button(role="link") E-visit
    button(role="link") Phone or video visit
    a(href="#") View resources
