doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/assets/sass/index.scss')
    title YML Template System - Inner Door
  body.kp-theme-ds2
  header.grid-container
    a(href="/") Home
    a(href="/components-lib/index.pug") Components
