/**
 * Fonts
*/
@font-face {
  font-family: 'Gotham-Black';
  src: url('../fonts/gothamFont/Gotham-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-BlackItalic';
  src: url('../fonts/gothamFont/Gotham-BlackItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/gothamFont/Gotham-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-BoldItalic';
  src: url('../fonts/gothamFont/Gotham-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/gothamFont/Gotham-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-BookItalic';
  src: url('../fonts/gothamFont/Gotham-BookItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/gothamFont/Gotham-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-LightItalic';
  src: url('../fonts/gothamFont/Gotham-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/gothamFont/Gotham-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-MediumItalic';
  src: url('../fonts/gothamFont/Gotham-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Thin';
  src: url('../fonts/gothamFont/Gotham-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-ThinItalic';
  src: url('../fonts/gothamFont/Gotham-ThinItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Ultra';
  src: url('../fonts/gothamFont/Gotham-Ultra.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-UltraItalic';
  src: url('../fonts/gothamFont/Gotham-UltraItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-XLight';
  src: url('../fonts/gothamFont/Gotham-XLight.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-XLightItalic';
  src: url('../fonts/gothamFont/Gotham-XLightItalic.otf') format('opentype');
}
