// Layout styles for Demo
body {
  background-color: $pebble;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-x: hidden;
  padding: 0 1rem;

  @include respond-to(tablet) {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  @include respond-to(desktop) {
    padding: 0 $desktop-space-size;
  }
  @media only screen and (max-width: 833px) {
    &-primary-content-mobile {
      position: fixed;
      scroll-behavior: smooth;
    }
  }
}

header {
  align-items: center;
  background-color: $inky-blue;
  display: flex;
  height: 2rem;
  margin-bottom: 1rem;
  padding: 2rem;
  a {
    color: $white;
    margin-right: 1rem;
    &:hover,
    &:visited {
      color: $white;
    }
  }
}

footer {
  background-color: $graphite;
  height: 2rem;
}
