// Layout styles for Demo
body {
  background-color: $pebble;
}

.container {
  padding: 0 2rem;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header {
  display: flex;
  align-items: center;
  background-color: $inky;
  height: 2rem;
  margin-bottom: 3rem;
  padding: 2rem;
  a {
    color: $white;
    margin-right: 1rem;
    &:hover,
    &:visited {
      color: $white;
    }
  }
}

footer {
  background-color: $graphite;
  height: 2rem;
}
