// Responsive breakpoint
// TODO: match styleguide 5.x
$breakpoints: (
  'mobile': (
    min-width: 600px,
  ),
  'tablet': (
    min-width: 768px,
  ),
  'desktop': (
    min-width: 1280px,
  ),
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: mobile, tablet, desktop";
  }
}

// Typography - Headings
@mixin header-h1($textAlign: left) {
  color: $inky-blue;
  font-family: $font-family-normal;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 32px;
  margin: 0 0 1rem;
  text-align: $textAlign;
  @include respond-to(tablet) {
    font-size: 32px;
    letter-spacing: -0.02em;
    line-height: 40px;
  }
  @include respond-to(desktop) {
    font-size: 48px;
    line-height: 52px;
  }
}

@mixin header-h2($textAlign: left) {
  color: $midnight;
  font-family: $font-family-normal;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 2rem;
  text-align: $textAlign;
  // NOTE: mobile and tablet sizes are the same in Figma
  @include respond-to(desktop) {
    font-size: $font-size-xl;
    letter-spacing: -0.02em;
    line-height: 40px;
  }
}

@mixin header-h3($textAlign: left) {
  color: $inky-blue;
  font-family: $font-family-normal;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 28px;
  margin: 0 0 1rem;
  text-align: $textAlign;
  // NOTE: mobile and tablet sizes are the same in Figma
  @include respond-to(desktop) {
    font-size: 26px;
    line-height: 32px;
  }
}

@mixin header-h6($textAlign: left) {
  color: $inky-blue;
  font-family: $font-family-normal;
  font-size: $font-size-xs;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: $textAlign;
  @include respond-to(tablet) {
    //tbd
  }
  @include respond-to(desktop) {
    // tbd
  }
}
