// Responsive breakpoint
// TODO: match styleguide 5.x
$breakpoints: (
  'mobile': (
    min-width: 375px,
  ),
  'tablet': (
    min-width: 834px,
  ),
  'desktop': (
    min-width: 1280px,
  ),
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: mobile, tablet, desktop";
  }
}

// Typography
@mixin header-h6($textAlign: left) {
  font-family: $font-family-md;
  font-size: $font-size-xs;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: $textAlign;
}
