// Colors
$inky: #0d1c3d;
$contrast-blue: #006ba6;
$white: #fff;
$pebble: #f7f7f7;
$graphite: #e9ebee;
$motion-blue: #94dfff;
$sky: #90cef1;

// Borders
$border-radius-sm: 0.5rem;
$border-radius: 1rem;
$border: 1px solid rgba(0, 0, 0, 0.08);

$box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);

// Padding - TODO: these should match font size scales
$padding-xs: 0.8125rem; // 13px
$padding-sm: 0.5rem;
$padding-md: 1rem;
$padding-lg: 2rem;
$padding-xlg: 3rem;

// Font - Variations
$font-family-md: "Gotham-Medium";
$font-family-lt: "Gotham-Light";

// Font - Sizes
$font-size-xs: 0.8125rem; // 13px
$font-size-md: 1rem; // 16px
$font-size-lg: 1.5rem; // 24px

$font-size-h1: 3rem; // 48px

// Links
$link-color: $contrast-blue;

// Panels
$panel-border: $border;

// Buttons
$button-radius: 100px;
